.page {
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: left;
}

.main-view {
    
    display: flex;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    margin-bottom: 50px;
}

.room-search {
    margin: auto;
}

.room-scroller {
    overflow: scroll;
    overflow-x: hidden;
}

.room-scroller::-webkit-scrollbar {
  width: 8px;
}

.room-scroller::-webkit-scrollbar-track {
  background: #00000044;
  border-radius: 30px;
  
}

.room-scroller::-webkit-scrollbar-thumb {
  background: #1c1d22;
  border-radius: 30px;
}

.room-container {
    display: flex;
    margin: 18px;
    flex-wrap: wrap;
    flex: 1;
}