.rcp {
    display: flex;
    height: 100%;
    background-color: #0e0f10;
}

.creation-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 16px;
    border-radius: 12px;
    align-items: center;
    margin: auto;
    background-color: #181c1d;
    border: 1px solid hsl(252, 9%, 22%);
}

.room-name-input {
    width: 48ch;
    border-radius: 8px;
    padding: 8px;
    margin: 22px 0px 22px 0px;
    background-color: #0e0f10;
    border: transparent;
    color: #e2e0f2;
    font-size: 14px;
}

.room-bio-input {
    width: 70ch;
    height: 24ch;
    padding: 12px;
    resize: none;
    border-radius: 8px;
    background: #0e0f10;
    border: transparent;
    color: #e2e0f2;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 22px;
}


.create-button {
    color: #cdd2db;
    font-size: medium;
    background-color: #0e0f10;
    padding: 8px;
    height: 36px;
    width: fit-content;
    margin: 0;
}
