.sidebar {
    display: flex;
    width: fit-content;
    min-height: 100vh;
    padding: 18px;
    flex-direction: column;
    background-color: #1c1d22;
    border: solid 2px #3d3d45;
    align-items: flex-start;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar hr {
    border: none;
    height: 3px;
    background-color: #3d3d45;
}