.sidebar {
    display: flex;
    width: 3rem;
    min-height: 100vh;
    padding: 6px;
    flex-direction: column;
    background-color: #181c1d;
    align-items: flex-start;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar button {
    background-color: #0e0f10;
    padding: 0;
    width: 100%;
    border-radius: 13px;
    aspect-ratio: 1 /1;
    margin: 0;
}