.chat-head {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
}

.add-user-container {
    grid-column: 3;
    justify-self: end;
    position: relative;
}

.add-user-window {
    margin-top: 20px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    background-color: #181c1d;
    border: solid 1px hsl(252, 9%, 22%);
    padding: 8px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 200px;
}

.add-user-window input {
    width: 100%;
    box-sizing: border-box;
}

.add-user-window button {
    width: fit-content;
    margin: auto;
}

.close {
    align-self: flex-end;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    padding: 0px;
    border: none;
    cursor: pointer;
}