.message-container {
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.message-container:hover {
    background-color: #cccccc11;
}

.content-container {
    padding: 18px 18px 18px 9px;
    width: 100%;
}

.pfp {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    padding: 0px;
}

.message-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 12px;
}

.message-meta p {
    opacity: 60%;
}

