.chat-page {
    display: flex;
    flex: 1;
    min-height: 0;
}

.chat-head {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    overflow: visible;
}

.room-title {
    margin: auto;
    grid-column: 2;
}

.chat-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    min-height: 0;
    height: 100%;
}

.chat-list {
    flex: 1;
    min-height: 0;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px 60px 20px 60px;
    overflow-x: hidden;
    overflow-y: auto;
}

