/* ── RESET ── */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #101013;
}

.header-button {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 22px 8px 22px 8px;
    border-radius: 50%;
    border: 2px solid #3d3d45;
    background-color: #1c1d22;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.page {
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: left;
}

.main-view {
    
    display: flex;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    margin-bottom: 50px;
}

.room-search {
    margin: auto;
}

.room-scroller {
    overflow: scroll;
    overflow-x: hidden;
}

.room-scroller::-webkit-scrollbar {
  width: 8px;
}

.room-scroller::-webkit-scrollbar-track {
  background: #00000044;
  border-radius: 30px;
  
}

.room-scroller::-webkit-scrollbar-thumb {
  background: #1c1d22;
  border-radius: 30px;
}

.head-bar {
    display: flex;
    align-self: top;
    justify-content: center;
    align-items: center;
}

.room-container {
    display: flex;
    margin: 18px;
    flex-wrap: wrap;
    flex: 1;

}