.input-container {
    position: relative; 
    display: flex;
    align-items: center;
}

input {
    padding: 10px 10px 10px 20px; 
    border: solid 2px #3d3d45;
    background-color: #1c1d22;
    height: 3rem;
    width: 18rem;
    border-radius: 12px;
}

.focus-bar {
    position: absolute;
    left: -8px;             
    top: 49%;      
    transform: translateY(-50%);

    background-color: #09f288;
    width: 4px;
    height: 0;
    border-radius: 4px;

    transition: height 0.25s ease-in-out;
}

.focus-bar.active {
    height: 36px;
    border-radius: 10px;
}